AgentskiModul/XMLSchemas/StatusRezervacije.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://model.app.modul.agentski/StatusRezervacije"
    xmlns="http://model.app.modul.agentski/StatusRezervacije">

    <xs:element name="StatusRezervacije">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:ID"/>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="opis" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
