AdministratorskiModul/XMLSchemas/Admin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    elementFormDefault="qualified"
    targetNamespace="http://model.app.modul.adminski/Admin"
    >
    <xs:element name="admin">
        <xs:complexType>
            <xs:all>
                <xs:element name="id" type="xs:ID"/>
                <xs:element name="username" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

</xs:schema>