AgentskiModul/src/main/resources/wsdl/MegaTravel.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://rs.ac.uns.ftn/Model" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://rs.ac.uns.ftn/Model" targetNamespace="http://rs.ac.uns.ftn/Model">
	<wsdl:types>
		<xs:schema xmlns="http://rs.ac.uns.ftn/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified" targetNamespace="http://rs.ac.uns.ftn/Model">
			<!--
 ===================================================================================== 
-->
			<xs:element name="StatusSobe">
				<xs:complexType>
					<xs:all>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="naziv" type="xs:string"/>
						<xs:element name="opis" type="xs:string"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="StatusSobeDTO">
				<xs:complexType>
					<xs:all>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="naziv" type="xs:string"/>
						<xs:element name="opis" type="xs:string"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetAllStatusSobeRequest">
				<xs:complexType> </xs:complexType>
			</xs:element>
			<xs:element name="GetAllStatusSobeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="StatusSobeDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateStatusSobeRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="StatusSobeDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateStatusSobeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:int"/>
						<xs:element default="false" name="Successful" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--
 ===================================================================================== 
-->
			<xs:element name="Usluga">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="naziv" type="xs:string"/>
						<xs:element name="opis" type="xs:string"/>
						<xs:element maxOccurs="unbounded" ref="Soba"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UslugaDTO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="naziv" type="xs:string"/>
						<xs:element name="opis" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetAllUslugaRequest">
				<xs:complexType> </xs:complexType>
			</xs:element>
			<xs:element name="GetAllUslugaResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="UslugaDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdUslugaRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdUslugaResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="UslugaDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateUslugaRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="UslugaDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateUslugaResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:int"/>
						<xs:element default="false" name="Successful" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--
 ===================================CENOVNIK========================================== 
-->
			<xs:element name="Cenovnik">
				<xs:complexType>
					<xs:all>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="cena" type="xs:string"/>
						<xs:element name="datumOd" type="xs:dateTime"/>
						<xs:element name="datumDo" type="xs:dateTime"/>
						<xs:element ref="Smestaj"/>
						<xs:element ref="TipSobe"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="CenovnikDTO">
				<xs:complexType>
					<xs:all>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="cena" type="xs:string"/>
						<xs:element name="datumOd" type="xs:dateTime"/>
						<xs:element name="datumDo" type="xs:dateTime"/>
						<xs:element name="idSmestaj" type="xs:long"/>
						<xs:element name="idTipSobe" type="xs:long"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetAllCenovnikRequest">
				<xs:complexType> </xs:complexType>
			</xs:element>
			<xs:element name="GetAllCenovnikResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="CenovnikDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdCenovnikRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdCenovnikResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="CenovnikDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateCenovnikRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="CenovnikDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateCenovnikResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:int"/>
						<xs:element default="false" name="Successful" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--
 =====================================ZAUZECE======================================= 
-->
			<xs:element name="Zauzece">
				<xs:complexType>
					<xs:all>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="datumOd" type="xs:dateTime"/>
						<xs:element name="datumDo" type="xs:dateTime"/>
						<xs:element ref="Soba"/>
						<xs:element ref="StatusSobe"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="ZauzeceDTO">
				<xs:complexType>
					<xs:all>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="datumOd" type="xs:dateTime"/>
						<xs:element name="datumDo" type="xs:dateTime"/>
						<xs:element name="idSoba" type="xs:long"/>
						<xs:element name="idStatusSobe" type="xs:long"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetAllZauzeceRequest">
				<xs:complexType> </xs:complexType>
			</xs:element>
			<xs:element name="GetAllZauzeceResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ZauzeceDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdZauzeceRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdZauzeceResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="ZauzeceDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateZauzeceRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="ZauzeceDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateZauzeceResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:int"/>
						<xs:element default="false" name="Successful" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--
 =====================================REZERVACIJA====================================== 
-->
			<xs:element name="Rezervacija">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="datumOd" type="xs:dateTime"/>
						<xs:element name="datumDo" type="xs:dateTime"/>
						<xs:element name="brojSoba" type="xs:long"/>
						<xs:element name="ukupnaCena" type="xs:float"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RezervacijaDTO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="datumOd" type="xs:dateTime"/>
						<xs:element name="datumDo" type="xs:dateTime"/>
						<xs:element name="brojSoba" type="xs:long"/>
						<xs:element name="ukupnaCena" type="xs:float"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetAllRezervacijaRequest">
				<xs:complexType> </xs:complexType>
			</xs:element>
			<xs:element name="GetAllRezervacijaResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="RezervacijaDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdRezervacijaRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdRezervacijaResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="RezervacijaDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateRezervacijaRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="RezervacijaDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateRezervacijaResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:int"/>
						<xs:element default="false" name="Successful" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--
 =====================================ISTORIJA REZERVACIJE================================ 
-->
			<xs:element name="IstorijaRezervacije">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="datum" type="xs:dateTime"/>
						<xs:element ref="Rezervacija"/>
						<xs:element name="statusRezervacije" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="IstorijaRezervacijeDTO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="datum" type="xs:dateTime"/>
						<xs:element name="idRezervacija" type="xs:long"/>
						<xs:element name="statusRezervacije" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetAllIstorijaRezervacijeRequest">
				<xs:complexType> </xs:complexType>
			</xs:element>
			<xs:element name="GetAllIstorijaRezervacijeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="IstorijaRezervacijeDTO"
						/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdIstorijaRezervacijeRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdIstorijaRezervacijeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="IstorijaRezervacijeDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateIstorijaRezervacijeRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="IstorijaRezervacijeDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateIstorijaRezervacijeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:int"/>
						<xs:element default="false" name="Successful" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--
 =====================================KORISNIK============================================ 
-->
			<xs:element name="Korisnik">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="ime" type="xs:string"/>
						<xs:element name="prezime" type="xs:string"/>
						<xs:element name="adresa" type="xs:string"/>
						<xs:element name="email" type="xs:string"/>
						<xs:element name="telefon" type="xs:string"/>
						<xs:element name="maticniBroj" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="KorisnikDTO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="ime" type="xs:string"/>
						<xs:element name="prezime" type="xs:string"/>
						<xs:element name="adresa" type="xs:string"/>
						<xs:element name="email" type="xs:string"/>
						<xs:element name="telefon" type="xs:string"/>
						<xs:element name="maticniBroj" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetAllKorisnikRequest">
				<xs:complexType> </xs:complexType>
			</xs:element>
			<xs:element name="GetAllKorisnikResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="KorisnikDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdKorisnikRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdKorisnikResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="KorisnikDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateKorisnikRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="KorisnikDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateKorisnikResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:int"/>
						<xs:element default="false" name="Successful" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--
 =======================================TIP SOBE========================================= 
-->
			<xs:element name="TipSobe">
				<xs:complexType>
					<xs:all>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="naziv" type="xs:string"/>
						<xs:element name="opis" type="xs:string"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="TipSobeDTO">
				<xs:complexType>
					<xs:all>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="naziv" type="xs:string"/>
						<xs:element name="opis" type="xs:string"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetAllTipSobeRequest">
				<xs:complexType> </xs:complexType>
			</xs:element>
			<xs:element name="GetAllTipSobeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="TipSobeDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdTipSobeRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdTipSobeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="TipSobeDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateTipSobeRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="TipSobeDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateTipSobeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:int"/>
						<xs:element default="false" name="Successful" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--
 ======================================KATEGORIJA SMESTAJA================================= 
-->
			<xs:element name="KategorijaSmestaja">
				<xs:complexType>
					<xs:all>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="naziv" type="xs:string"/>
						<xs:element name="opis" type="xs:string"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="KategorijaSmestajaDTO">
				<xs:complexType>
					<xs:all>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="naziv" type="xs:string"/>
						<xs:element name="opis" type="xs:string"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetAllKategorijaSmestajaRequest">
				<xs:complexType> </xs:complexType>
			</xs:element>
			<xs:element name="GetAllKategorijaSmestajaResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="KategorijaSmestajaDTO"
						/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdKategorijaSmestajaRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdKategorijaSmestajaResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="TipSobeDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateKategorijaSmestajaRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="KategorijaSmestajaDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateKategorijaSmestajaResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:int"/>
						<xs:element default="false" name="Successful" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--
 ==================================TIP SMESTAJA========================================== 
-->
			<xs:element name="TipSmestaja">
				<xs:complexType>
					<xs:all>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="naziv" type="xs:string"/>
						<xs:element name="opis" type="xs:string"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="TipSmestajaDTO">
				<xs:complexType>
					<xs:all>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="naziv" type="xs:string"/>
						<xs:element name="opis" type="xs:string"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetAllTipSmestajaRequest">
				<xs:complexType> </xs:complexType>
			</xs:element>
			<xs:element name="GetAllTipSmestajaResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="TipSmestajaDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdTipSmestajaRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdTipSmestajaResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="TipSmestajaDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateTipSmestajaRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="TipSmestajaDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateTipSmestajaResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:int"/>
						<xs:element default="false" name="Successful" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--
 ==========================================LOKACIJA======================================= 
-->
			<xs:element name="Lokacija">
				<xs:complexType>
					<xs:all>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="drzava" type="xs:string"/>
						<xs:element name="grad" type="xs:string"/>
						<xs:element name="ulica" type="xs:string"/>
						<xs:element name="broj" type="xs:string"/>
						<xs:element ref="Koordinate"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="LokacijaDTO">
				<xs:complexType>
					<xs:all>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="drzava" type="xs:string"/>
						<xs:element name="grad" type="xs:string"/>
						<xs:element name="ulica" type="xs:string"/>
						<xs:element name="broj" type="xs:string"/>
						<xs:element name="idKoordinate" type="xs:long"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetAllLokacijaRequest">
				<xs:complexType> </xs:complexType>
			</xs:element>
			<xs:element name="GetAllLokacijaResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="LokacijaDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdLokacijaRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdLokacijaResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="LokacijaDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateLokacijaRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="LokacijaDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateLokacijaResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:int"/>
						<xs:element default="false" name="Successful" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--
 =================================KOORDINATE============================================== 
-->
			<xs:element name="Koordinate">
				<xs:complexType>
					<xs:all>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="duzina" type="xs:float"/>
						<xs:element name="sirina" type="xs:float"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="KoordinateDTO">
				<xs:complexType>
					<xs:all>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="duzina" type="xs:float"/>
						<xs:element name="sirina" type="xs:float"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetAllKoordinateRequest">
				<xs:complexType> </xs:complexType>
			</xs:element>
			<xs:element name="GetAllKoordinateResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="KoordinateDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdKoordinateRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdKoordinateResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="KoordinateDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateKoordinateRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="KoordinateDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateKoordinateResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:int"/>
						<xs:element default="false" name="Successful" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--
 =========================================SMESTAJ========================================= 
-->
			<xs:element name="Smestaj">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="naziv" type="xs:string"/>
						<xs:element name="opis" type="xs:string"/>
						<xs:element name="slika" type="xs:string"/>
						<xs:element ref="Lokacija"/>
						<xs:element ref="TipSmestaja"/>
						<xs:element ref="KategorijaSmestaja"/>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="Soba"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SmestajDTO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="naziv" type="xs:string"/>
						<xs:element name="opis" type="xs:string"/>
						<xs:element name="slika" type="xs:string"/>
						<xs:element name="idLokacija" type="xs:long"/>
						<xs:element name="idTipSmestaja" type="xs:long"/>
						<xs:element name="idKategorijaSmestaja" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetAllSmestajRequest">
				<xs:complexType> </xs:complexType>
			</xs:element>
			<xs:element name="GetAllSmestajResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="SmestajDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdSmestajRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdSmestajResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="SmestajDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateSmestajRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="SmestajDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateSmestajResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:int"/>
						<xs:element default="false" name="Successful" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--
 ===========================================SOBA========================================= 
-->
			<xs:element name="Soba">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="naziv" type="xs:string"/>
						<xs:element name="opis" type="xs:string"/>
						<xs:element name="slika" type="xs:string"/>
						<xs:element ref="TipSobe"/>
						<xs:element ref="Smestaj"/>
						<xs:element maxOccurs="unbounded" ref="Usluga"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SobaDTO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="naziv" type="xs:string"/>
						<xs:element name="opis" type="xs:string"/>
						<xs:element name="slika" type="xs:string"/>
						<xs:element name="idTipSobe" type="xs:long"/>
						<xs:element name="idSmestaj" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetAllSobaRequest">
				<xs:complexType> </xs:complexType>
			</xs:element>
			<xs:element name="GetAllSobaResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="SobaDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdSobaRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdSobaResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="SobaDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateSobaRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="SobaDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateSobaResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:int"/>
						<xs:element default="false" name="Successful" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--
 =====================================REZERVACIJA PO SOBI================================ 
-->
			<xs:element name="RezervacijaPoSobi">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="cena" type="xs:float"/>
						<xs:element ref="Korisnik"/>
						<xs:element ref="Soba"/>
						<xs:element ref="Rezervacija"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RezervacijaPoSobiDTO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
						<xs:element name="cena" type="xs:float"/>
						<xs:element ref="Korisnik"/>
						<xs:element name="idSoba" type="xs:long"/>
						<xs:element name="idRezervacija" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetAllRezervacijaPoSobiRequest">
				<xs:complexType> </xs:complexType>
			</xs:element>
			<xs:element name="GetAllRezervacijaPoSobiResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="RezervacijaPoSobiDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdRezervacijaPoSobiRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetByIdRezervacijaPoSobiResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="RezervacijaPoSobiDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateRezervacijaPoSobiRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" ref="RezervacijaPoSobiDTO"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateRezervacijaPoSobiResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:int"/>
						<xs:element default="false" name="Successful" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="GetAllTipSmestajaResponse">
		<wsdl:part element="tns:GetAllTipSmestajaResponse" name="GetAllTipSmestajaResponse"
		> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllRezervacijaPoSobiResponse">
		<wsdl:part element="tns:GetAllRezervacijaPoSobiResponse"
			name="GetAllRezervacijaPoSobiResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateUslugaResponse">
		<wsdl:part element="tns:CreateUslugaResponse" name="CreateUslugaResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdRezervacijaResponse">
		<wsdl:part element="tns:GetByIdRezervacijaResponse" name="GetByIdRezervacijaResponse"
		> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdRezervacijaPoSobiResponse">
		<wsdl:part element="tns:GetByIdRezervacijaPoSobiResponse"
			name="GetByIdRezervacijaPoSobiResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdCenovnikRequest">
		<wsdl:part element="tns:GetByIdCenovnikRequest" name="GetByIdCenovnikRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateTipSobeRequest">
		<wsdl:part element="tns:CreateTipSobeRequest" name="CreateTipSobeRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateLokacijaResponse">
		<wsdl:part element="tns:CreateLokacijaResponse" name="CreateLokacijaResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllCenovnikResponse">
		<wsdl:part element="tns:GetAllCenovnikResponse" name="GetAllCenovnikResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdLokacijaRequest">
		<wsdl:part element="tns:GetByIdLokacijaRequest" name="GetByIdLokacijaRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateLokacijaRequest">
		<wsdl:part element="tns:CreateLokacijaRequest" name="CreateLokacijaRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdKoordinateResponse">
		<wsdl:part element="tns:GetByIdKoordinateResponse" name="GetByIdKoordinateResponse"
		> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateRezervacijaRequest">
		<wsdl:part element="tns:CreateRezervacijaRequest" name="CreateRezervacijaRequest"
		> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllKorisnikResponse">
		<wsdl:part element="tns:GetAllKorisnikResponse" name="GetAllKorisnikResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllKoordinateResponse">
		<wsdl:part element="tns:GetAllKoordinateResponse" name="GetAllKoordinateResponse"
		> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateCenovnikRequest">
		<wsdl:part element="tns:CreateCenovnikRequest" name="CreateCenovnikRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdZauzeceRequest">
		<wsdl:part element="tns:GetByIdZauzeceRequest" name="GetByIdZauzeceRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateKorisnikResponse">
		<wsdl:part element="tns:CreateKorisnikResponse" name="CreateKorisnikResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateKorisnikRequest">
		<wsdl:part element="tns:CreateKorisnikRequest" name="CreateKorisnikRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateStatusSobeResponse">
		<wsdl:part element="tns:CreateStatusSobeResponse" name="CreateStatusSobeResponse"
		> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllLokacijaResponse">
		<wsdl:part element="tns:GetAllLokacijaResponse" name="GetAllLokacijaResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllKategorijaSmestajaResponse">
		<wsdl:part element="tns:GetAllKategorijaSmestajaResponse"
			name="GetAllKategorijaSmestajaResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdSmestajRequest">
		<wsdl:part element="tns:GetByIdSmestajRequest" name="GetByIdSmestajRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateZauzeceResponse">
		<wsdl:part element="tns:CreateZauzeceResponse" name="CreateZauzeceResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateSobaResponse">
		<wsdl:part element="tns:CreateSobaResponse" name="CreateSobaResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdUslugaRequest">
		<wsdl:part element="tns:GetByIdUslugaRequest" name="GetByIdUslugaRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateTipSobeResponse">
		<wsdl:part element="tns:CreateTipSobeResponse" name="CreateTipSobeResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateKoordinateRequest">
		<wsdl:part element="tns:CreateKoordinateRequest" name="CreateKoordinateRequest"
		> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateTipSmestajaResponse">
		<wsdl:part element="tns:CreateTipSmestajaResponse" name="CreateTipSmestajaResponse"
		> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdSobaResponse">
		<wsdl:part element="tns:GetByIdSobaResponse" name="GetByIdSobaResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllRezervacijaPoSobiRequest">
		<wsdl:part element="tns:GetAllRezervacijaPoSobiRequest"
			name="GetAllRezervacijaPoSobiRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdIstorijaRezervacijeRequest">
		<wsdl:part element="tns:GetByIdIstorijaRezervacijeRequest"
			name="GetByIdIstorijaRezervacijeRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdTipSobeResponse">
		<wsdl:part element="tns:GetByIdTipSobeResponse" name="GetByIdTipSobeResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateSmestajRequest">
		<wsdl:part element="tns:CreateSmestajRequest" name="CreateSmestajRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateSobaRequest">
		<wsdl:part element="tns:CreateSobaRequest" name="CreateSobaRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateZauzeceRequest">
		<wsdl:part element="tns:CreateZauzeceRequest" name="CreateZauzeceRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdTipSmestajaRequest">
		<wsdl:part element="tns:GetByIdTipSmestajaRequest" name="GetByIdTipSmestajaRequest"
		> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllLokacijaRequest">
		<wsdl:part element="tns:GetAllLokacijaRequest" name="GetAllLokacijaRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateSmestajResponse">
		<wsdl:part element="tns:CreateSmestajResponse" name="CreateSmestajResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllStatusSobeRequest">
		<wsdl:part element="tns:GetAllStatusSobeRequest" name="GetAllStatusSobeRequest"
		> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdKoordinateRequest">
		<wsdl:part element="tns:GetByIdKoordinateRequest" name="GetByIdKoordinateRequest"
		> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdTipSmestajaResponse">
		<wsdl:part element="tns:GetByIdTipSmestajaResponse" name="GetByIdTipSmestajaResponse"
		> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateIstorijaRezervacijeRequest">
		<wsdl:part element="tns:CreateIstorijaRezervacijeRequest"
			name="CreateIstorijaRezervacijeRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllSmestajResponse">
		<wsdl:part element="tns:GetAllSmestajResponse" name="GetAllSmestajResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllSobaRequest">
		<wsdl:part element="tns:GetAllSobaRequest" name="GetAllSobaRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllIstorijaRezervacijeResponse">
		<wsdl:part element="tns:GetAllIstorijaRezervacijeResponse"
			name="GetAllIstorijaRezervacijeResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllStatusSobeResponse">
		<wsdl:part element="tns:GetAllStatusSobeResponse" name="GetAllStatusSobeResponse"
		> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateIstorijaRezervacijeResponse">
		<wsdl:part element="tns:CreateIstorijaRezervacijeResponse"
			name="CreateIstorijaRezervacijeResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdKategorijaSmestajaRequest">
		<wsdl:part element="tns:GetByIdKategorijaSmestajaRequest"
			name="GetByIdKategorijaSmestajaRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllSmestajRequest">
		<wsdl:part element="tns:GetAllSmestajRequest" name="GetAllSmestajRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdKorisnikResponse">
		<wsdl:part element="tns:GetByIdKorisnikResponse" name="GetByIdKorisnikResponse"
		> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllTipSobeResponse">
		<wsdl:part element="tns:GetAllTipSobeResponse" name="GetAllTipSobeResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllIstorijaRezervacijeRequest">
		<wsdl:part element="tns:GetAllIstorijaRezervacijeRequest"
			name="GetAllIstorijaRezervacijeRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllRezervacijaRequest">
		<wsdl:part element="tns:GetAllRezervacijaRequest" name="GetAllRezervacijaRequest"
		> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateKoordinateResponse">
		<wsdl:part element="tns:CreateKoordinateResponse" name="CreateKoordinateResponse"
		> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdRezervacijaRequest">
		<wsdl:part element="tns:GetByIdRezervacijaRequest" name="GetByIdRezervacijaRequest"
		> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllSobaResponse">
		<wsdl:part element="tns:GetAllSobaResponse" name="GetAllSobaResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdUslugaResponse">
		<wsdl:part element="tns:GetByIdUslugaResponse" name="GetByIdUslugaResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateRezervacijaPoSobiRequest">
		<wsdl:part element="tns:CreateRezervacijaPoSobiRequest"
			name="CreateRezervacijaPoSobiRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateRezervacijaResponse">
		<wsdl:part element="tns:CreateRezervacijaResponse" name="CreateRezervacijaResponse"
		> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateKategorijaSmestajaResponse">
		<wsdl:part element="tns:CreateKategorijaSmestajaResponse"
			name="CreateKategorijaSmestajaResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllKategorijaSmestajaRequest">
		<wsdl:part element="tns:GetAllKategorijaSmestajaRequest"
			name="GetAllKategorijaSmestajaRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdIstorijaRezervacijeResponse">
		<wsdl:part element="tns:GetByIdIstorijaRezervacijeResponse"
			name="GetByIdIstorijaRezervacijeResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdSmestajResponse">
		<wsdl:part element="tns:GetByIdSmestajResponse" name="GetByIdSmestajResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdRezervacijaPoSobiRequest">
		<wsdl:part element="tns:GetByIdRezervacijaPoSobiRequest"
			name="GetByIdRezervacijaPoSobiRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateUslugaRequest">
		<wsdl:part element="tns:CreateUslugaRequest" name="CreateUslugaRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateKategorijaSmestajaRequest">
		<wsdl:part element="tns:CreateKategorijaSmestajaRequest"
			name="CreateKategorijaSmestajaRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllKorisnikRequest">
		<wsdl:part element="tns:GetAllKorisnikRequest" name="GetAllKorisnikRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllUslugaRequest">
		<wsdl:part element="tns:GetAllUslugaRequest" name="GetAllUslugaRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllRezervacijaResponse">
		<wsdl:part element="tns:GetAllRezervacijaResponse" name="GetAllRezervacijaResponse"
		> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllCenovnikRequest">
		<wsdl:part element="tns:GetAllCenovnikRequest" name="GetAllCenovnikRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdZauzeceResponse">
		<wsdl:part element="tns:GetByIdZauzeceResponse" name="GetByIdZauzeceResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdSobaRequest">
		<wsdl:part element="tns:GetByIdSobaRequest" name="GetByIdSobaRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateCenovnikResponse">
		<wsdl:part element="tns:CreateCenovnikResponse" name="CreateCenovnikResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdTipSobeRequest">
		<wsdl:part element="tns:GetByIdTipSobeRequest" name="GetByIdTipSobeRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdLokacijaResponse">
		<wsdl:part element="tns:GetByIdLokacijaResponse" name="GetByIdLokacijaResponse"
		> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateRezervacijaPoSobiResponse">
		<wsdl:part element="tns:CreateRezervacijaPoSobiResponse"
			name="CreateRezervacijaPoSobiResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateStatusSobeRequest">
		<wsdl:part element="tns:CreateStatusSobeRequest" name="CreateStatusSobeRequest"
		> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllTipSobeRequest">
		<wsdl:part element="tns:GetAllTipSobeRequest" name="GetAllTipSobeRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllUslugaResponse">
		<wsdl:part element="tns:GetAllUslugaResponse" name="GetAllUslugaResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdKorisnikRequest">
		<wsdl:part element="tns:GetByIdKorisnikRequest" name="GetByIdKorisnikRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllTipSmestajaRequest">
		<wsdl:part element="tns:GetAllTipSmestajaRequest" name="GetAllTipSmestajaRequest"
		> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllZauzeceResponse">
		<wsdl:part element="tns:GetAllZauzeceResponse" name="GetAllZauzeceResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreateTipSmestajaRequest">
		<wsdl:part element="tns:CreateTipSmestajaRequest" name="CreateTipSmestajaRequest"
		> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdCenovnikResponse">
		<wsdl:part element="tns:GetByIdCenovnikResponse" name="GetByIdCenovnikResponse"
		> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllZauzeceRequest">
		<wsdl:part element="tns:GetAllZauzeceRequest" name="GetAllZauzeceRequest"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetByIdKategorijaSmestajaResponse">
		<wsdl:part element="tns:GetByIdKategorijaSmestajaResponse"
			name="GetByIdKategorijaSmestajaResponse"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAllKoordinateRequest">
		<wsdl:part element="tns:GetAllKoordinateRequest" name="GetAllKoordinateRequest"
		> </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ProducerPort">
		<wsdl:operation name="GetAllTipSmestaja">
			<wsdl:input message="tns:GetAllTipSmestajaRequest" name="GetAllTipSmestajaRequest"> </wsdl:input>
			<wsdl:output message="tns:GetAllTipSmestajaResponse" name="GetAllTipSmestajaResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllRezervacijaPoSobi">
			<wsdl:input message="tns:GetAllRezervacijaPoSobiRequest"
				name="GetAllRezervacijaPoSobiRequest"> </wsdl:input>
			<wsdl:output message="tns:GetAllRezervacijaPoSobiResponse"
				name="GetAllRezervacijaPoSobiResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateUsluga">
			<wsdl:input message="tns:CreateUslugaRequest" name="CreateUslugaRequest"> </wsdl:input>
			<wsdl:output message="tns:CreateUslugaResponse" name="CreateUslugaResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdRezervacija">
			<wsdl:input message="tns:GetByIdRezervacijaRequest" name="GetByIdRezervacijaRequest"> </wsdl:input>
			<wsdl:output message="tns:GetByIdRezervacijaResponse" name="GetByIdRezervacijaResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdRezervacijaPoSobi">
			<wsdl:input message="tns:GetByIdRezervacijaPoSobiRequest"
				name="GetByIdRezervacijaPoSobiRequest"> </wsdl:input>
			<wsdl:output message="tns:GetByIdRezervacijaPoSobiResponse"
				name="GetByIdRezervacijaPoSobiResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdCenovnik">
			<wsdl:input message="tns:GetByIdCenovnikRequest" name="GetByIdCenovnikRequest"> </wsdl:input>
			<wsdl:output message="tns:GetByIdCenovnikResponse" name="GetByIdCenovnikResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateTipSobe">
			<wsdl:input message="tns:CreateTipSobeRequest" name="CreateTipSobeRequest"> </wsdl:input>
			<wsdl:output message="tns:CreateTipSobeResponse" name="CreateTipSobeResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateLokacija">
			<wsdl:input message="tns:CreateLokacijaRequest" name="CreateLokacijaRequest"> </wsdl:input>
			<wsdl:output message="tns:CreateLokacijaResponse" name="CreateLokacijaResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllCenovnik">
			<wsdl:input message="tns:GetAllCenovnikRequest" name="GetAllCenovnikRequest"> </wsdl:input>
			<wsdl:output message="tns:GetAllCenovnikResponse" name="GetAllCenovnikResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdLokacija">
			<wsdl:input message="tns:GetByIdLokacijaRequest" name="GetByIdLokacijaRequest"> </wsdl:input>
			<wsdl:output message="tns:GetByIdLokacijaResponse" name="GetByIdLokacijaResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdKoordinate">
			<wsdl:input message="tns:GetByIdKoordinateRequest" name="GetByIdKoordinateRequest"> </wsdl:input>
			<wsdl:output message="tns:GetByIdKoordinateResponse" name="GetByIdKoordinateResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateRezervacija">
			<wsdl:input message="tns:CreateRezervacijaRequest" name="CreateRezervacijaRequest"> </wsdl:input>
			<wsdl:output message="tns:CreateRezervacijaResponse" name="CreateRezervacijaResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllKorisnik">
			<wsdl:input message="tns:GetAllKorisnikRequest" name="GetAllKorisnikRequest"> </wsdl:input>
			<wsdl:output message="tns:GetAllKorisnikResponse" name="GetAllKorisnikResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllKoordinate">
			<wsdl:input message="tns:GetAllKoordinateRequest" name="GetAllKoordinateRequest"> </wsdl:input>
			<wsdl:output message="tns:GetAllKoordinateResponse" name="GetAllKoordinateResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateCenovnik">
			<wsdl:input message="tns:CreateCenovnikRequest" name="CreateCenovnikRequest"> </wsdl:input>
			<wsdl:output message="tns:CreateCenovnikResponse" name="CreateCenovnikResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdZauzece">
			<wsdl:input message="tns:GetByIdZauzeceRequest" name="GetByIdZauzeceRequest"> </wsdl:input>
			<wsdl:output message="tns:GetByIdZauzeceResponse" name="GetByIdZauzeceResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateKorisnik">
			<wsdl:input message="tns:CreateKorisnikRequest" name="CreateKorisnikRequest"> </wsdl:input>
			<wsdl:output message="tns:CreateKorisnikResponse" name="CreateKorisnikResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateStatusSobe">
			<wsdl:input message="tns:CreateStatusSobeRequest" name="CreateStatusSobeRequest"> </wsdl:input>
			<wsdl:output message="tns:CreateStatusSobeResponse" name="CreateStatusSobeResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllLokacija">
			<wsdl:input message="tns:GetAllLokacijaRequest" name="GetAllLokacijaRequest"> </wsdl:input>
			<wsdl:output message="tns:GetAllLokacijaResponse" name="GetAllLokacijaResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllKategorijaSmestaja">
			<wsdl:input message="tns:GetAllKategorijaSmestajaRequest"
				name="GetAllKategorijaSmestajaRequest"> </wsdl:input>
			<wsdl:output message="tns:GetAllKategorijaSmestajaResponse"
				name="GetAllKategorijaSmestajaResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdSmestaj">
			<wsdl:input message="tns:GetByIdSmestajRequest" name="GetByIdSmestajRequest"> </wsdl:input>
			<wsdl:output message="tns:GetByIdSmestajResponse" name="GetByIdSmestajResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateZauzece">
			<wsdl:input message="tns:CreateZauzeceRequest" name="CreateZauzeceRequest"> </wsdl:input>
			<wsdl:output message="tns:CreateZauzeceResponse" name="CreateZauzeceResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateSoba">
			<wsdl:input message="tns:CreateSobaRequest" name="CreateSobaRequest"> </wsdl:input>
			<wsdl:output message="tns:CreateSobaResponse" name="CreateSobaResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdUsluga">
			<wsdl:input message="tns:GetByIdUslugaRequest" name="GetByIdUslugaRequest"> </wsdl:input>
			<wsdl:output message="tns:GetByIdUslugaResponse" name="GetByIdUslugaResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateKoordinate">
			<wsdl:input message="tns:CreateKoordinateRequest" name="CreateKoordinateRequest"> </wsdl:input>
			<wsdl:output message="tns:CreateKoordinateResponse" name="CreateKoordinateResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateTipSmestaja">
			<wsdl:input message="tns:CreateTipSmestajaRequest" name="CreateTipSmestajaRequest"> </wsdl:input>
			<wsdl:output message="tns:CreateTipSmestajaResponse" name="CreateTipSmestajaResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdSoba">
			<wsdl:input message="tns:GetByIdSobaRequest" name="GetByIdSobaRequest"> </wsdl:input>
			<wsdl:output message="tns:GetByIdSobaResponse" name="GetByIdSobaResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdIstorijaRezervacije">
			<wsdl:input message="tns:GetByIdIstorijaRezervacijeRequest"
				name="GetByIdIstorijaRezervacijeRequest"> </wsdl:input>
			<wsdl:output message="tns:GetByIdIstorijaRezervacijeResponse"
				name="GetByIdIstorijaRezervacijeResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdTipSobe">
			<wsdl:input message="tns:GetByIdTipSobeRequest" name="GetByIdTipSobeRequest"> </wsdl:input>
			<wsdl:output message="tns:GetByIdTipSobeResponse" name="GetByIdTipSobeResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateSmestaj">
			<wsdl:input message="tns:CreateSmestajRequest" name="CreateSmestajRequest"> </wsdl:input>
			<wsdl:output message="tns:CreateSmestajResponse" name="CreateSmestajResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdTipSmestaja">
			<wsdl:input message="tns:GetByIdTipSmestajaRequest" name="GetByIdTipSmestajaRequest"> </wsdl:input>
			<wsdl:output message="tns:GetByIdTipSmestajaResponse" name="GetByIdTipSmestajaResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllStatusSobe">
			<wsdl:input message="tns:GetAllStatusSobeRequest" name="GetAllStatusSobeRequest"> </wsdl:input>
			<wsdl:output message="tns:GetAllStatusSobeResponse" name="GetAllStatusSobeResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateIstorijaRezervacije">
			<wsdl:input message="tns:CreateIstorijaRezervacijeRequest"
				name="CreateIstorijaRezervacijeRequest"> </wsdl:input>
			<wsdl:output message="tns:CreateIstorijaRezervacijeResponse"
				name="CreateIstorijaRezervacijeResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllSmestaj">
			<wsdl:input message="tns:GetAllSmestajRequest" name="GetAllSmestajRequest"> </wsdl:input>
			<wsdl:output message="tns:GetAllSmestajResponse" name="GetAllSmestajResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllSoba">
			<wsdl:input message="tns:GetAllSobaRequest" name="GetAllSobaRequest"> </wsdl:input>
			<wsdl:output message="tns:GetAllSobaResponse" name="GetAllSobaResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllIstorijaRezervacije">
			<wsdl:input message="tns:GetAllIstorijaRezervacijeRequest"
				name="GetAllIstorijaRezervacijeRequest"> </wsdl:input>
			<wsdl:output message="tns:GetAllIstorijaRezervacijeResponse"
				name="GetAllIstorijaRezervacijeResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdKategorijaSmestaja">
			<wsdl:input message="tns:GetByIdKategorijaSmestajaRequest"
				name="GetByIdKategorijaSmestajaRequest"> </wsdl:input>
			<wsdl:output message="tns:GetByIdKategorijaSmestajaResponse"
				name="GetByIdKategorijaSmestajaResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdKorisnik">
			<wsdl:input message="tns:GetByIdKorisnikRequest" name="GetByIdKorisnikRequest"> </wsdl:input>
			<wsdl:output message="tns:GetByIdKorisnikResponse" name="GetByIdKorisnikResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllTipSobe">
			<wsdl:input message="tns:GetAllTipSobeRequest" name="GetAllTipSobeRequest"> </wsdl:input>
			<wsdl:output message="tns:GetAllTipSobeResponse" name="GetAllTipSobeResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllRezervacija">
			<wsdl:input message="tns:GetAllRezervacijaRequest" name="GetAllRezervacijaRequest"> </wsdl:input>
			<wsdl:output message="tns:GetAllRezervacijaResponse" name="GetAllRezervacijaResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateRezervacijaPoSobi">
			<wsdl:input message="tns:CreateRezervacijaPoSobiRequest"
				name="CreateRezervacijaPoSobiRequest"> </wsdl:input>
			<wsdl:output message="tns:CreateRezervacijaPoSobiResponse"
				name="CreateRezervacijaPoSobiResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateKategorijaSmestaja">
			<wsdl:input message="tns:CreateKategorijaSmestajaRequest"
				name="CreateKategorijaSmestajaRequest"> </wsdl:input>
			<wsdl:output message="tns:CreateKategorijaSmestajaResponse"
				name="CreateKategorijaSmestajaResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllUsluga">
			<wsdl:input message="tns:GetAllUslugaRequest" name="GetAllUslugaRequest"> </wsdl:input>
			<wsdl:output message="tns:GetAllUslugaResponse" name="GetAllUslugaResponse"
			> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllZauzece">
			<wsdl:input message="tns:GetAllZauzeceRequest" name="GetAllZauzeceRequest"> </wsdl:input>
			<wsdl:output message="tns:GetAllZauzeceResponse" name="GetAllZauzeceResponse"
			> </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ProducerPortSoap11" type="tns:ProducerPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetAllTipSmestaja">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetAllTipSmestajaRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetAllTipSmestajaResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllRezervacijaPoSobi">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetAllRezervacijaPoSobiRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetAllRezervacijaPoSobiResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateUsluga">
			<soap:operation soapAction=""/>
			<wsdl:input name="CreateUslugaRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateUslugaResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdRezervacija">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetByIdRezervacijaRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetByIdRezervacijaResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdRezervacijaPoSobi">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetByIdRezervacijaPoSobiRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetByIdRezervacijaPoSobiResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdCenovnik">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetByIdCenovnikRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetByIdCenovnikResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateTipSobe">
			<soap:operation soapAction=""/>
			<wsdl:input name="CreateTipSobeRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateTipSobeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateLokacija">
			<soap:operation soapAction=""/>
			<wsdl:input name="CreateLokacijaRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateLokacijaResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllCenovnik">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetAllCenovnikRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetAllCenovnikResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdLokacija">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetByIdLokacijaRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetByIdLokacijaResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdKoordinate">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetByIdKoordinateRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetByIdKoordinateResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateRezervacija">
			<soap:operation soapAction=""/>
			<wsdl:input name="CreateRezervacijaRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateRezervacijaResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllKorisnik">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetAllKorisnikRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetAllKorisnikResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllKoordinate">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetAllKoordinateRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetAllKoordinateResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateCenovnik">
			<soap:operation soapAction=""/>
			<wsdl:input name="CreateCenovnikRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateCenovnikResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdZauzece">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetByIdZauzeceRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetByIdZauzeceResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateKorisnik">
			<soap:operation soapAction=""/>
			<wsdl:input name="CreateKorisnikRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateKorisnikResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateStatusSobe">
			<soap:operation soapAction=""/>
			<wsdl:input name="CreateStatusSobeRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateStatusSobeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllLokacija">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetAllLokacijaRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetAllLokacijaResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllKategorijaSmestaja">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetAllKategorijaSmestajaRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetAllKategorijaSmestajaResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdSmestaj">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetByIdSmestajRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetByIdSmestajResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateZauzece">
			<soap:operation soapAction=""/>
			<wsdl:input name="CreateZauzeceRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateZauzeceResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateSoba">
			<soap:operation soapAction=""/>
			<wsdl:input name="CreateSobaRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateSobaResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdUsluga">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetByIdUslugaRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetByIdUslugaResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateKoordinate">
			<soap:operation soapAction=""/>
			<wsdl:input name="CreateKoordinateRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateKoordinateResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateTipSmestaja">
			<soap:operation soapAction=""/>
			<wsdl:input name="CreateTipSmestajaRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateTipSmestajaResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdSoba">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetByIdSobaRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetByIdSobaResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdIstorijaRezervacije">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetByIdIstorijaRezervacijeRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetByIdIstorijaRezervacijeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdTipSobe">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetByIdTipSobeRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetByIdTipSobeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateSmestaj">
			<soap:operation soapAction=""/>
			<wsdl:input name="CreateSmestajRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateSmestajResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdTipSmestaja">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetByIdTipSmestajaRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetByIdTipSmestajaResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllStatusSobe">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetAllStatusSobeRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetAllStatusSobeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateIstorijaRezervacije">
			<soap:operation soapAction=""/>
			<wsdl:input name="CreateIstorijaRezervacijeRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateIstorijaRezervacijeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllSmestaj">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetAllSmestajRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetAllSmestajResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllSoba">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetAllSobaRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetAllSobaResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllIstorijaRezervacije">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetAllIstorijaRezervacijeRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetAllIstorijaRezervacijeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdKategorijaSmestaja">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetByIdKategorijaSmestajaRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetByIdKategorijaSmestajaResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetByIdKorisnik">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetByIdKorisnikRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetByIdKorisnikResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllTipSobe">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetAllTipSobeRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetAllTipSobeResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllRezervacija">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetAllRezervacijaRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetAllRezervacijaResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateRezervacijaPoSobi">
			<soap:operation soapAction=""/>
			<wsdl:input name="CreateRezervacijaPoSobiRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateRezervacijaPoSobiResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateKategorijaSmestaja">
			<soap:operation soapAction=""/>
			<wsdl:input name="CreateKategorijaSmestajaRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CreateKategorijaSmestajaResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllUsluga">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetAllUslugaRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetAllUslugaResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAllZauzece">
			<soap:operation soapAction=""/>
			<wsdl:input name="GetAllZauzeceRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="GetAllZauzeceResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ProducerPortService">
		<wsdl:port binding="tns:ProducerPortSoap11" name="ProducerPortSoap11">
			<soap:address location="http://localhost:9999/ws"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
