SynchronizationMicroservice/src/main/resources/xsd/MegaTravel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://rs.ac.uns.ftn/Model"
    xmlns="http://rs.ac.uns.ftn/Model">
    <!-- ================================KORISNIK============================================= -->
    <xs:element name="Permisija">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"></xs:element>
                <xs:element name="naziv" type="xs:string"></xs:element>
                <xs:element ref="Uloga" minOccurs="1" maxOccurs="unbounded"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="Uloga">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"></xs:element>
                <xs:element name="naziv" type="xs:string"></xs:element>
                <xs:element ref="Permisija" minOccurs="1" maxOccurs="unbounded"></xs:element>
                <xs:element ref="Korisnik" minOccurs="0" maxOccurs="unbounded"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="Korisnik">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="ime" type="xs:string"/>
                <xs:element name="prezime" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="telefon" type="xs:string"/>
                <xs:element name="sifra" type="xs:string"/>
                <xs:element name="aktivan" type="xs:boolean"/>
                <xs:element name="korisnickoIme" type="xs:string"/>
                <xs:element ref="Uloga" minOccurs="1" maxOccurs="1"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="KorisnikDTO">
        <xs:complexType>
            <xs:all>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="ime" type="xs:string"/>
                <xs:element name="prezime" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="telefon" type="xs:string"/>
                <xs:element name="sifra" type="xs:string"/>
                <xs:element name="aktivan" type="xs:boolean"/>
                <xs:element name="korisnickoIme" type="xs:string"/>
                <xs:element name="idUloga" type="xs:long"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

     <!-- ===================================================================================== -->
  <xs:complexType name="Sifarnik">
        <xs:all>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="naziv" type="xs:string"/>
            <xs:element name="opis" type="xs:string"/>
        </xs:all>
    </xs:complexType>
    <!-- ===================================================================================== -->
    <xs:element name="Usluga">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Sifarnik"></xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAllUslugaRequest">
        <xs:complexType>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAllUslugaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="Usluga"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- ===================================CENOVNIK========================================== -->
    <xs:element name="Cenovnik">
        <xs:complexType>
            <xs:all>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="cena" type="xs:float"/>
                <xs:element name="brojDanaZaOtkazivanje" type="xs:int"></xs:element>
                <xs:element name="datumOd" type="xs:dateTime"/>
                <xs:element name="datumDo" type="xs:dateTime"/>
                <xs:element ref="Smestaj"/>
                <xs:element ref="TipSobe"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="CenovnikDTO">
        <xs:complexType>
            <xs:all>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="cena" type="xs:float"/>
                <xs:element name="brojDanaZaOtkazivanje" type="xs:int"></xs:element>
                <xs:element name="datumOd" type="xs:dateTime"/>
                <xs:element name="datumDo" type="xs:dateTime"/>
                <xs:element name="idSmestaj" type="xs:long"/>
                <xs:element name="idTipSobe" type="xs:long"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="ShowCenovnikDTO">
        <xs:complexType>
            <xs:all>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="cena" type="xs:float"/>
                <xs:element name="datumOd" type="xs:dateTime"/>
                <xs:element name="datumDo" type="xs:dateTime"/>
                <xs:element name="brojDanaZaOtkazivanje" type="xs:int"></xs:element>
                <xs:element name="nazivSmestaj" type="xs:string"/>
                <xs:element name="nazivTipSobe" type="xs:string"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateCenovnikRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CenovnikDTO"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateCenovnikResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element default="false" name="Successful" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- =====================================REZERVACIJA======================================= -->
    <xs:element name="Rezervacija">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="id" type="xs:long" />
            	<xs:element name="datumOd" type="xs:dateTime" />
            	<xs:element name="datumDo" type="xs:dateTime" />
            	<xs:element name="brojSoba" type="xs:int"></xs:element>
            	<xs:element name="cena" type="xs:float" />
            	<xs:element ref="Smestaj" />
            	<xs:element ref="Poruka" maxOccurs="unbounded" />
            	<xs:element ref="Korisnik" />
            	<xs:element ref="RezervisaneSobe" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RezervacijaDTO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="datumOd" type="xs:dateTime"/>
                <xs:element name="datumDo" type="xs:dateTime"/>
                <xs:element name="cena" type="xs:float"/>
                <xs:element name="idKorisnika" type="xs:long"/>
                <xs:element name="idSmestaj" type="xs:long"/>
                <xs:element ref="RezervisaneSobeDTO" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ShowRezervacijaDTO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="datumOd" type="xs:dateTime"/>
                <xs:element name="datumDo" type="xs:dateTime"/>
                <xs:element name="cena" type="xs:float"/>
                <xs:element name="nazivSmestaj" type="xs:string"/>
                <xs:element name="brojSoba" type="xs:int"/>
                <xs:element ref="ShowRezervisaneSobeDTO" maxOccurs="unbounded"/>
                <xs:element name="imePrezimeKorisnik" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateRezervacijaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="RezervacijaDTO"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateRezervacijaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element default="false" name="Successful" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetRezervacijaRequest">
        <xs:complexType>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAllRezervacijaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="Rezervacija"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RezervisaneSobe">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="statusRezervacije" type="xs:string"/>
                <xs:element name="cena" type="xs:float"/>
                <xs:element ref="Rezervacija"/>
                <xs:element ref="Soba"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RezervisaneSobeDTO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="statusRezervacije" type="xs:string"/>
                <xs:element name="idSoba" type="xs:long"/>
                <xs:element name="cena" type="xs:float"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ShowRezervisaneSobeDTO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="nazivStatusRezervacije" type="xs:string"/>
                <xs:element name="nazivSoba" type="xs:string"/>
                <xs:element name="cena" type="xs:float"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
     <xs:element name="UpdateRezervisaneSobeDTO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="idRezervacija" type="xs:long"/>
                <xs:element name="statusRezervacije" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAllRezervisaneSobeRequest">
        <xs:complexType>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAllRezervisaneSobeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="RezervisaneSobe"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="UpdateRezervisaneSobeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="UpdateRezervisaneSobeDTO"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateRezervisaneSobeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element default="false" name="Successful" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- =======================================TIP SOBE========================================= -->
    <xs:element name="TipSobe">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Sifarnik"></xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAllTipSobeRequest">
        <xs:complexType>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAllTipSobeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="TipSobe"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- ======================================KATEGORIJA SMESTAJA================================= -->
    <xs:element name="KategorijaSmestaja">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Sifarnik"></xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAllKategorijaSmestajaRequest">
        <xs:complexType>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAllKategorijaSmestajaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="KategorijaSmestaja"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- ==================================TIP SMESTAJA========================================== -->
    <xs:element name="TipSmestaja">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="Sifarnik"></xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAllTipSmestajaRequest">
        <xs:complexType>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAllTipSmestajaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="TipSmestaja"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- ==========================================LOKACIJA======================================= -->
    <xs:element name="Lokacija">
        <xs:complexType>
            <xs:all>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="drzava" type="xs:string"/>
                <xs:element name="grad" type="xs:string"/>
                <xs:element name="ulica" type="xs:string"/>
                <xs:element name="broj" type="xs:string"/>
                <xs:element name="idKoordinate" type="xs:long"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateLokacijaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Lokacija"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateLokacijaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element default="false" name="Successful" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- =================================KOORDINATE============================================== -->
    <xs:element name="Koordinate">
        <xs:complexType>
            <xs:all>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="duzina" type="xs:float"/>
                <xs:element name="sirina" type="xs:float"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateKoordinateRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" ref="Koordinate"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateKoordinateResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element default="false" name="Successful" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- =========================================SMESTAJ========================================= -->
    <xs:element name="Smestaj">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="naziv" type="xs:string"/>
                <xs:element name="opis" type="xs:string"/>
                <xs:element name="slika" type="xs:string"/>
                <xs:element name="kapacitet" type="xs:int"/>
                <xs:element ref="Lokacija"/>
                <xs:element ref="TipSmestaja"/>
                <xs:element ref="KategorijaSmestaja"/>
                <xs:element ref="Soba" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="Agent" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="Komentar" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SmestajDTO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="naziv" type="xs:string"/>
                <xs:element name="opis" type="xs:string"/>
                <xs:element name="slika" type="xs:string"/>
                <xs:element name="kapacitet" type="xs:int"/>
                <xs:element name="drzava" type="xs:string"/>
                <xs:element name="grad" type="xs:string"/>
                <xs:element name="ulica" type="xs:string"/>
                <xs:element name="broj" type="xs:string"/>
                <xs:element name="idTipSmestaja" type="xs:long"/>
                <xs:element name="idKategorijaSmestaja" type="xs:long"/>
                <xs:element name="idAgent" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ShowSmestajDTO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="naziv" type="xs:string"/>
                <xs:element name="opis" type="xs:string"/>
                <xs:element name="slika" type="xs:string"/>
                <xs:element name="kapacitet" type="xs:int"/>
                <xs:element name="drzava" type="xs:string"/>
                <xs:element name="grad" type="xs:string"/>
                <xs:element name="ulica" type="xs:string"/>
                <xs:element name="broj" type="xs:string"/>
                <xs:element name="nazivKategorijaSmestaja" type="xs:string"/>    
                <xs:element name="nazivTipSmestaja" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateSmestajRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SmestajDTO"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateSmestajResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element default="false" name="Successful" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- ===========================================SOBA========================================= -->
    <xs:element name="Soba">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="naziv" type="xs:string"/>
                <xs:element name="opis" type="xs:string"/>
                <xs:element ref="TipSobe"/>
                <xs:element ref="Smestaj"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SobaDTO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="naziv" type="xs:string"/>
                <xs:element name="opis" type="xs:string"/>
                <xs:element name="idTipSobe" type="xs:long"/>
                <xs:element name="idSmestaj" type="xs:long"/>
                <xs:element name="idUsluga" type="xs:long" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ShowSobaDTO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="naziv" type="xs:string"/>
                <xs:element name="opis" type="xs:string"/>
                <xs:element name="nazivTipSobe" type="xs:string"/>
                <xs:element name="nazivSmestaj" type="xs:string"/>
                <xs:element ref="Usluga" maxOccurs="unbounded"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateSobaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SobaDTO"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateSobaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element default="false" name="Successful" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SobneUsluge">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element ref="Soba"/>
                <xs:element ref="Usluga"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SobneUslugeDTO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"></xs:element>
                <xs:element name="idSoba" type="xs:long"></xs:element>
                <xs:element name="idUsluga" type="xs:long"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateSobneUslugeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SobneUslugeDTO"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateSobneUslugeResponse">
        
    </xs:element>
    <xs:element name="GetAllSobneUslugeRequest">
        <xs:complexType>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAllSobneUslugeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="SobneUslugeDTO"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- =========================================AGENT=========================================== -->
    
    <xs:element name="Agent">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="ime" type="xs:string"/>
                <xs:element name="prezime" type="xs:string"/>
                <xs:element name="adresa" type="xs:string"/>
                <xs:element name="poslovniMaticniBroj" type="xs:integer"/>
                <xs:element name="korisnickoIme" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="token" type="xs:string"/>
                <xs:element ref="Smestaj" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ShowAgentDTO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="ime" type="xs:string"/>
                <xs:element name="prezime" type="xs:string"/>
                <xs:element name="adresa" type="xs:string"/>
                <xs:element name="poslovniMaticniBroj" type="xs:integer"/>
                <xs:element name="korisnickoIme" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AgentDTO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="korisnickoIme" type="xs:string"/>
                <xs:element name="lozinka" type="xs:string"/>
                <xs:element name="prethodnaLozinka" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AgentLoginDTO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AgentLoginRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AgentLoginResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="token" type="xs:string"/>
                <xs:element name="username" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAllAgentRequest">
        <xs:complexType>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAllAgentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="Agent"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateAgentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="AgentDTO"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateAgentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element default="false" name="Successful" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
     <xs:element name="ValidateTokenRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="token" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ValidateTokenResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element default="false" name="Successful" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- ========================================KOMENTAR========================================= -->
    <xs:element name="Komentar">
        <xs:complexType>
            <xs:all>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="naslov" type="xs:string"/>
                <xs:element name="tekst" type="xs:string"/>
                <xs:element name="statusKomentara" type="xs:string"/>
                <xs:element name="datumKreiranja" type="xs:dateTime"/>
                <xs:element ref="Smestaj" maxOccurs="1"/>
                <xs:element ref="Korisnik" maxOccurs="1"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="KomentarDTO">
        <xs:complexType>
            <xs:all>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="naslov" type="xs:string"/>
                <xs:element name="tekst" type="xs:string"/>
                <xs:element name="statusKomentara" type="xs:string"/>
                <xs:element name="datumKreiranja" type="xs:dateTime"/>
                <xs:element name="idSmestaj" type="xs:long"/>
                <xs:element name="idKorisnik" type="xs:long"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="ShowKomentarDTO">
        <xs:complexType>
            <xs:all>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="naslov" type="xs:string"/>
                <xs:element name="tekst" type="xs:string"/>
                <xs:element name="statusKomentara" type="xs:string"/>
                <xs:element name="datumKreiranja" type="xs:dateTime"/>
                <xs:element name="nazivSmestaj" type="xs:string"/>
                <xs:element name="korisnickoImeKorisnik" type="xs:string"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAllKomentarRequest">
        <xs:complexType>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAllKomentarResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="KomentarDTO"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- ========================================KORISNIK========================================= -->

    <xs:element name="GetAllKorisnikRequest">
        <xs:complexType>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAllKorisnikResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="Korisnik"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- ========================================PORUKA=========================================== -->
    <xs:element name="Poruka">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="naslov" type="xs:string"/>
                <xs:element name="sadrzaj" type="xs:string"/>
                <xs:element name="datum" type="xs:dateTime"/>
                <xs:element ref="Rezervacija"/>
                <xs:element name="korisnikPosiljalac" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PorukaDTO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="naslov" type="xs:string"/>
                <xs:element name="sadrzaj" type="xs:string"/>
                <xs:element name="datum" type="xs:dateTime"/>
                <xs:element name="idRezervacije" type="xs:long"/>
                <xs:element name="korisnikPosiljalac" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ShowPorukaDTO">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="naslov" type="xs:string"/>
                <xs:element name="sadrzaj" type="xs:string"/>
                <xs:element name="datum" type="xs:dateTime"/>
                <xs:element name="korisnickoIme" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAllPorukaRequest">
        <xs:complexType>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAllPorukaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="PorukaDTO"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreatePorukaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PorukaDTO"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreatePorukaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element default="false" name="Successful" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
